.home-page {
    background-image: linear-gradient(160deg,rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, .5) 50%,
            rgba(0, 0, 0, 0) 100%),
            url(../assets/hero-pic.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-color: black;
    background-color: black;
    color: white;
    margin: 0;
    height: 90vh;
    padding: 1rem 10%;
    display: flex;
}
.action-section{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resume-container a{
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: teal;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    padding: 1rem;
    text-decoration: none;
}
.social-links-container {
    display: flex;
}
.fa-brands {
    color: white;
}

@media only screen and (width > 550px) {
    .home-page {
        background-image: linear-gradient(160deg,rgba(0, 0, 0, .5) 0%,
            rgba(0, 0, 0, 0) 100%),
            url(../assets/hero-pic.png);

    }
}
