.home-page {
    background-color: black;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    margin: 0;
    padding: 1rem 10%;
}
.action-section{
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.resume-container a{
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    background-color: teal;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    padding: 1rem;
    text-decoration: none;
}
.connect-section {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;


}
.social-links-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.social-link {
    color: white;
    align-items: center;
    justify-content: center;
}

@media only screen and (width > 550px) {

}
