.navbar-container {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    font-size: 1.5rem;
    color: white;
    padding: 1rem;
}

.navbar-links {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
}
.navbar-item a {
    text-decoration: none;
    color: white;
}
.navbar-item a.active {
    color: teal;
}
.navbar-logo img {
    height: 2rem;
}

