.project-card {
    max-width: 25%;
    min-width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    gap: 1rem;

    background-color: black;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}
.project-img {
    background-color: black;

}
.project-description {
    flex-grow: 1;
}
.project-link {
    color: pink;
}