.project-card {
    width: 80%;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(30, 30, 30);
    border-radius: 10px;
}
.project-card:hover {
    transform: scale(1.2);
    box-shadow: 0 0 10px black;
}
.project-img {
    background-color: pink;
    border-radius: 5px 5px 0 0;
}
.project-text-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.project-name {
    font-size: 1.5rem;
}
.project-description {
    color: rgb(216, 214, 214);  
    flex: 1;
    font-size: .8rem;
}
.project-tool-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}
.project-tool-item {
    outline: 2px solid teal;
    padding: .3rem .8rem;
    border-radius: 5px;
    margin-bottom: 0;
    font-size: .8rem;
}
.project-links-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.project-link {
    font-size: 1.5rem;
    color: whitesmoke;
}
.project-link:hover {
    color: pink;
}
@media only screen and (width > 550px) {
    .project-card {
        max-width: 15rem;

    }
}