* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.page {
  margin: 5%;
}
.page-header {
  color: black;
  font-size: 2rem;
  padding: 1rem 2rem;
}



.section-container {
  padding: 1rem 2rem;
}
.section-header {
  font-size: 1.5rem;
  padding: 1rem 0;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 4%;

}
.flex-container>section {
  width: 48%;
}


/* Background Colors */
.bg-em {
  background-color: #244d4f;
}

.bg-sg {
  background-color: #b9dfda;
}

.bg-cr {
  background-color: whitesmoke;
}


.color {
  color: pink;
}